<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crakama.refugee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Mrefugee"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateDatabase.UpdateNews"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.IssueFollowUp"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Auth.LoginActivity" />
        <activity android:name=".Auth.RegisterActivity" />
        <activity android:name=".Auth.ResetPasswordActivity" />
        <activity android:name=".Auth.ChangePasswordActivity" />
        <activity android:name=".UpdateDatabase.UpdateNoticeBoard" />
        <activity android:name=".Activities.ShowNoticeDetails" />
        <activity android:name=".UpdateDatabase.UpdateRepatriationData" />
        <activity android:name=".Activities.HelpDeskSupport" />
        <activity
            android:name=".UpdateDatabase.UpdateTownInfo"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".Activities.TownDetails" />
        <activity android:name=".Activities.MedicalScreening"></activity>
    </application>

</manifest>