<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dadaabcamps.mrefugee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.dadaabcamps.mrefugee.Mrefugee"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dadaabcamps.mrefugee.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dadaabcamps.mrefugee.UpdateDatabase.UpdateNews"
            android:parentActivityName="com.dadaabcamps.mrefugee.Activities.MainActivity" />
        <activity
            android:name="com.dadaabcamps.mrefugee.Activities.IssueFollowUp"
            android:parentActivityName="com.dadaabcamps.mrefugee.Activities.MainActivity" />
        <activity android:name="com.dadaabcamps.mrefugee.Auth.LoginActivity" />
        <activity android:name="com.dadaabcamps.mrefugee.Auth.RegisterActivity" />
        <activity android:name="com.dadaabcamps.mrefugee.Auth.ResetPasswordActivity" />
        <activity android:name="com.dadaabcamps.mrefugee.Auth.ChangePasswordActivity" />
        <activity android:name="com.dadaabcamps.mrefugee.UpdateDatabase.UpdateNoticeBoard" />
        <activity android:name="com.dadaabcamps.mrefugee.Activities.ShowNoticeDetails" />
        <activity android:name="com.dadaabcamps.mrefugee.UpdateDatabase.UpdateRepatriationData" />
        <activity android:name="com.dadaabcamps.mrefugee.Activities.HelpDeskSupport" />
        <activity
            android:name="com.dadaabcamps.mrefugee.UpdateDatabase.UpdateTownInfo"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.dadaabcamps.mrefugee.Activities.TownDetails" />
        <activity android:name="com.dadaabcamps.mrefugee.Activities.MedicalScreening"></activity>
    </application>

</manifest>